body {
    background-image: url('/res/hqBlueMountain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-brand {
    color:white;
}

.nav-link {
    color: lightskyblue;
    font-weight: lighter;
}

.nav-name {
    color: #ffd23f;
    font-weight: lighter;
}

.card-title {
    color: lightskyblue;
}

.card-header {
    color: #ffd23f;
}

.highlighted {
    background-color: #134067;
    color: beige;
}

.add-margin {
    margin-left: 2%;
    margin-right: 2%;
}

.button-margin {
    margin-top: 5%;
    margin-bottom: 5%;
}